* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(97, 179, 179);
    --primary-font: "Times New Roman", "Arial", "Helvetica";
    --font-color: rgb(4, 4, 77);
    --accent-color: rgb(145, 143, 143);
    --border: 3px solid var(--accent-color);
}   

body {
    display: block;
    font-family: var(--primary-font);
    color: var(--font-color);
}

header, main, footer {
    width: 840px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    margin: 1% auto;
    border: var(--border);
}

header img {
    border: var(--border);
    background-color: #fff;
    margin: 1rem;
}

.nav {
    display: flex;
    list-style: none; 
    text-align: center;
}

.nav li {
    flex: 1 1 auto;
}

.nav a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
    font-size: 1.2rem;
    background-color: white;
    border: var(--border);
}

main {
    display: grid;
    grid-row: 1/4;
}

.contact-info h1 {
    position: absolute;
    top: 250px;
    width: 100%;
    font-size: 1.4rem;
    padding: 11px;
    opacity: 0.9;
    left: 10px;
    text-align: center;
    color: black;
    margin-top: 1%;
}
.contact-info {
    color: black;
    text-align: center; 
    margin-top: 4%;
    white-space-collapse: collapse;
}

.container {
    height: 360px;
}

iframe {
    position: relative;
    left: 5%;
}

form {
    position: relative;
    width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    left: 150px;
    bottom: 375px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: black;
}

.form-item {
    display: grid;
    align-items: center;
}

input {
    padding: 0.4rem;
    border-radius: .2rem;
    border: 1.5px solid rgb(0 0 0 / 0.5);
}

legend {
    position: relative;
    top: 60px;
    width: 20px;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.14rem 0;

}

.column2 {
    grid-template-columns: 0.1fr 2fr;
    margin: 0.5rem;
}

.column3 {
    grid-template-columns: 0.1fr 2fr;
    margin: 0.4rem;
}

.radio {
    text-align: left;
    grid-gap: 0.9rem;
    position: relative;
    left: 90px;
    
}

.checkbox {
    text-align: center;
    margin: 0.5rem;
}


textarea {
    border-radius: 3.4%;
    margin-top: 1%;
}

input[type="checkbox"] {
    position: relative;
    width: 15px;
    height: 15px;
    right: 5.9px;
}

button {
    margin: .1rem;
    padding: 2.4%;
    font-size: 0.8rem;
    border-radius: .2rem;
    border: 2px solid rgb(1 1 1 / 0.2);
    text-align: center;
}

button:hover {
    background-color: royalblue;
    color: white;
}


h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    text-align: center;
    background-color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: var(--border);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: white;
    color: var(--primary-font);
}

section {
    border: var(--border);
}

.hero article{
    position: absolute;
    width: 800px;
    height: 6.2rem;
    top: 300px;
    right: 5px;
    opacity: 0.8;
    background-color: white;
    color: var(--font-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 auto;
}

.history {
    text-align: left;
}


.history img{
    position: relative;
    width: 250px;
    left: 215px;
    float: center;
}

footer {
    text-align: center;
    border: var(--border);
    height: 80px;
}


.socialmedia a {
    text-decoration: none;
    float: right;
    position: relative;
    bottom: 65px;
    margin: .5%;

}


.section figure { 
    position: relative;
    float: left;
    height: auto;
    left: 38px;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
}

.section figure img {
    max-width: 120px;
}

.profile img{
    position: relative;
    left: 50%;
}

figcaption {
    position: relative;
    left: 50%;
}