:root {
    --primary-color: #10ad5e;
    --secondary-color: rgb(9, 70, 9);
    --accent1-color: white;
    --accent2-color: #123e54;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
} 

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: white
}

article {
    position: absolute;
    top: 435px;
    width: 96.4%;
    padding: 12px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color:var(--accent1-color)
}

.hero article img {
    float: right;
    width: 125px;
}

section, footer {
    color: black
}

.grid-nav {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    border: solid #123e54 2px;
}

.flex-nav {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.nav-item {
    background-color: #aba;
    height: auto;
    width: 100px;
    border: solid #123e54 1.5px;
    padding: 9px;
    text-decoration: none;
    list-style: none;
}

