* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(97, 179, 179);
    --primary-font: "Times New Roman", "Arial", "Helvetica";
    --font-color: rgb(4, 4, 77);
    --accent-color: rgb(145, 143, 143);
}   

body {
    font-family: var(--primary-font);
    color: var(--font-color);
}

header, main, footer {
    width: 840px;
    margin: auto;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}