* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(97, 179, 179);
    --primary-font: "Times New Roman", "Arial", "Helvetica";
    --font-color: rgb(4, 4, 77);
    --accent-color: rgb(145, 143, 143);
    --border: 3px solid var(--accent-color);
}   

body {
    font-family: var(--primary-font);
    color: var(--font-color);
}

header, main, footer {
    width: 840px;
    margin: auto;
}

header {
    background-color: var(--primary-color);
}

header img {
    border: var(--border);
    background-color: #fff;
}

header nav {
    background-color: white;
    border: var(--border);
    text-decoration: none;
    width: fit-content;
    padding: 2%;
    margin: 0;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    text-align: center;
    background-color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 4rem;
    height: auto;
    float: right;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: white;
    color: var(--primary-font);
}

section {
    border: var(--border);
}

article {
    position: absolute;
    width: 800px;
    height: 6.2rem;
    top: 300px;
    right: 5px;
    opacity: 0.8;
    background-color: white;
    color: var(--font-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

