* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: rgb(1, 1, 27);
    background-color: aliceblue;
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 1.6rem;
    color: rgb(1, 1, 27);
    font-size: 1.7rem;
    text-align: center;
}

form {
    display: grid;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(1, 1, 27);
    border-radius: 0.5rem;  /* This rounds the edges of the borders */
    background-color: rgb(175, 208, 238);
}

fieldset {
    display: grid;
    grid-gap: 0.6rem;
    margin: 1rem;
    border: 1px solid rgb(1, 1, 27);
    padding: 0.7rem;
}

legend {
    padding: 0.5rem;
    color: rgb(1, 1, 27) ;
    font-size: 1.5rem;
}

label, input, button, select, textarea {
    font-family: Georgia, 'Times New Roman', Times, serif
}

label {
    text-align: right;
    padding-right: 1rem;
} 

input, select, textarea {
    padding: 0.4rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {   /*According to the instructions, this is best practice CSS selector in this case.*/
    width: 21px;
    height: 21px;
    vertical-align: bottom;
}

button {
    width: 200px;
    height: 40px;
    padding: 0.4rem;
    font-size: medium;
    color: #fff;
    background-color: rgba(10, 10, 196, 0.877);
    border: none;
    border-radius: 0.5rem;
}

button:hover {
    background-color: rgb(136, 185, 228); 
}

footer {
    text-align: center; 
    margin: 1.9rem;
    font-size: 1.2rem;
    color: rgb(1, 1, 27);
    border-top: 1px solid rgb(1, 1, 27);
    width: 500px;
}

.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.6rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .8rem 0;
}