* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(240, 235, 229);
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 1.6rem;
    color: black;
    font-size: 1.7rem;
    text-align: center;
}

form {
    display: grid;
    width: 500px;
    height: 550px;
    margin: 0 auto;
    padding: 17px;
    border: 1px solid black;
    border-radius: 0.5rem;  /* This rounds the edges of the borders */
    background-color: rgb(243, 161, 68);
}

label, input, button, select, textarea {
    font-family: Georgia, 'Times New Roman', Times, serif
}

label {
    text-align: left;
    padding-right: 1.3rem;

} 

input, select, textarea {
    padding: 0.4rem;
    font-size: 1.1rem;
    margin: 1.3%;
}

button {
    width: 450px;
    height: 40px;
    padding: 0.4rem;
    font-size: medium;
    color: #fff;
    background-color: rgba(159, 10, 196, 0.877);
    border: none;
    border-radius: 0.5rem;
    margin: 2%;
}

button:hover {
    background-color: rgb(236, 186, 232); 
}

footer {
    text-align: center; 
    margin: 0 auto;
    width: 500px;
    font-size: 1.2rem;
    color: black;
    border-top: 1px solid black;
    justify-content: center;
}
