nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside h2 {
    text-align: center;
    font-size: 25px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 18px;
    background-color: rgb(238, 195, 153);
    color: black;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
}

p {
    padding: 0;
}

footer {
    border-top: 2px dotted black;
    text-align: center;
    margin-top: 1rem;
}