:root {
    --navigation-heading-color: darkblue;
    --aside-color: rgb(238, 195, 153);
    --image-border: 1px solid black; 
}


nav {
    background-color: var(--navigation-heading-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--navigation-heading-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 18px;
    background-color: var(--aside-color);
    color: black;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
}

p {
    padding: 0;
}

footer {
    border-top: 2px dotted black;
    text-align: center;
    margin-top: 1rem;
}