* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --nav-text-color: red;
    --main-page-background-color: rgb(100, 183, 211);
    --heading-background-color: darkblue;
}


main {
    max-width: 840px;
    background-color: var(--main-page-background-color);
    border: 2px solid darkblue;
    padding: 2px;
}

aside {
    position: relative;
    width: 300px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 2px darkblue;
}

aside h2 {
    position: absolute;
    top: 14px;
    left: 110px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 10px;
}

h1 {
    color: var(--heading-background-color);
    text-align: center;
}

main img {
    float: right;
    width: 150px; 
    height: auto;
    border: 2px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    margin: 0;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/* CSS Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(1, 2, 77);
    background-color: rgb(245, 52, 52);
    color: black
}