* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}


:root {
    --navigation-heading-color: darkblue;
    --box-color: rgb(238, 195, 153);
    --image-border: 1px solid black; 
}

body {
    display: block;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--navigation-heading-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--navigation-heading-color);
    text-align: center;
    border-bottom: 1px solid var(--navigation-heading-color);
    padding: 1rem;
}

.grid {
    display: grid;
    /* align-items: center;  */
}

main { 
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 18px;
    background-color: var(--box-color);
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside h2 {
    position: absolute;
    top: 5px;
    right: 130px;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
}

p {
    padding: 0;
}

footer {
    border-top: 2px dotted black;
    text-align: center;
    margin-top: 1rem;
}

/* Class Selectors  */

.box {
    margin: 1rem;
    border: var(--image-border);
    padding: 1rem;
    background-color: var(--box-color);
    color: black;
}   