.callout {  
    max-width: 400px; 
    margin: 10px;
    border: 1px solid black; 
    padding: 15px;
    background-color: rgb(40, 40, 116); /*The solution background color is #247 */
    color: white;
}

.callout img { 
    float: right;
    margin: 0 0 10px 15px;  /*It seems like when these measurements are set, the margin of this declaration moves the text away from the image.*/
    border: 1px solid black; 
    padding: 3px;
    background-color: white;
    width: 100px; 
    height: auto;
}

blockquote { 
    margin: 0;	
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}