* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    line-height: 1.6;
}


header, footer {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}   

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 2px solid rgb(49, 49, 49) ;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

section {
    margin: 20px 0;
    border: 1px solid gray;
    padding: 20px;
    background-color: rgb(216, 213, 213);
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}